@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/src/images/background/backgroud-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#to_do{
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #10101D;
  padding: 18px;
  border-radius: 18px;
  width: 430px;
}

#to_do h1{
  color: #f1f7f8;
  font-size: 28px;
  text-transform: uppercase;
}

.to-do-form{
  display: flex;
  width: 100%;
}
.to-do-form input{
  background-color: transparent;
  border: none;
  color: #f1f7f8;
  font-size: 16px;
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid #98c8a7c4;
}

.to-do-form input:focus-visible{
  outline: none;
}

.to-do-form .form-button{
  border: none;
  min-width: 40px;
  min-height: 40px;
  background-color: #7acc94c4;
  border-radius: 100%;
  font-size: 20px;
  transition: scale 0.5s ease;
}

.to-do-form .form-button:hover{
  cursor: pointer;
  scale: 1.05;
}

#tasks{
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow: auto;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #262626;
  background-color: #1a3222c4;
  padding: 8px 12px;
  border-radius: 4px;
}

.task .progress{
  margin-right: 10px;
}

.task .task-actions{
  display: flex;
  gap: 10px;
}

.action-button{
  font-size: 16px;
}

.action-button.edit-button{
  filter: brightness(0) saturate(100%) invert(60%) sepia(37%) saturate(382%) hue-rotate(162deg) brightness(90%) contrast(93%);
}

.action-button.delete-button{
  padding-top: 1px;
  filter: brightness(0) saturate(60%) invert(30%) sepia(43%) saturate(3358%) hue-rotate(342deg) brightness(65%) contrast(83%);
}

.task .task-description{
  font-size: 16px;
  color: #ffff;
  padding: 4px 0px;
  width: 100%;
}

.hidden{
  display: none;
}


/*
font-family: 'Poppins', sans-serif;
*/